.welcome-page-container{
    background-color: #E6E7E8;
}
.welcome-page-container .welcome-middle{

}
.welcome-page-container .welcome-middle .block-item{
    width:33%;
    float:left;
    padding-top:30px;
    padding-bottom:10px;
}
.welcome-page-container .welcome-middle .block-item:nth-child(2n){
    width:34%;
    padding:30px 10px 10px 10px;
}
.welcome-page-container .welcome-middle .block-item .block-content{
    background-color: white;

}
.welcome-page-container .settings-icon{
    text-align: center;
}
.welcome-page-container .settings-icon .settings-icon-block{
    float:left;
    width:100%;
    margin-top:-20px;
}
.welcome-page-container .settings-icon .settings-icon-block .settings-icon-element{
    font-size:30px;
    color:white;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6e6d70;
    line-height: 40px;
    border-radius: 2px;
}
.welcome-page-container .settings-block {
     width: 100%;
     min-height: 200px;
     margin-bottom: 20px;
     padding:15px;
 }
.welcome-page-container .settings-block .settings-block-header{
   padding-bottom: 20px;
}
.welcome-page-container .settings-block .settings-block-header .header-top{
    font-family: KlinicSlabBold;
    color:#414042;
    font-size:15px;
}
.welcome-page-container .settings-block .settings-block-header .header-bottom{
    font-family: SlateStd_Light;
    color:#414042;
    font-size:14px;
}
.welcome-page-container .settings-block .settings-block-header .header-bottom.date{
    display: inline-block;
    border:2px solid #4ba500;
    color:#4ba500;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
}
.welcome-page-container .settings-block .settings-block-middle{
    font-family: SlateStd_Light;
    margin-bottom:10px;
    min-height: 120px;
 }
.welcome-page-container .settings-block .settings-block-footer{
     vertical-align: bottom;
    text-align: center;
    margin-top:15px;
    margin-bottom: 5px;
}
.welcome-page-container .settings-block .settings-block-footer .settings-button{
    font-family: SlateStd;
    cursor: pointer;
    padding:5px 5px 2px;
    border-radius: 2px;
    color: white;
}
.welcome-page-container .settings-block .settings-block-footer .settings-button.disabled{
    background-color: grey;
}
.welcome-page-container .settings-block .settings-block-footer .settings-button.enabled {
    background-color: #4ba500;
}
@media screen and (max-width:768px){
    .welcome-page-container .welcome-middle .block-item{
        width:100%;
        padding-left:0;
        padding-right:0;
        padding-bottom:0;
    }
    .welcome-page-container .welcome-middle .block-item:nth-child(2n){
        width:100%;
        padding-left:0;
        padding-right:0;
        padding-bottom:0;
    }
}



